@{
    ViewBag.Title = "O nama";

}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/team.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Upoznajte naš tim!</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->

<div id="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Team</h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to21.jpg">
                        <h3><a href="https://www.linkedin.com/in/ines-sinov%C4%8Di%C4%87-305455108?authType=name&authToken=6ToA&trk=mirror-profile-memberlist-photo">Ines Sinovčić</a></h3>
                        
                    </div>
                </div>
                <h4>CEO</h4>
            </div>
            
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to1.jpg">
                        <h3><a href="https://www.linkedin.com/in/jure-mirat-5a380a110?authType=name&authToken=0cJ4&trk=mirror-profile-memberlist-photo">Jure Mirat</a></h3>
                        
                    </div>
                </div>
                <h4>CPO</h4>
            </div>
            
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to1.jpg">
                        <h3><a href="https://www.linkedin.com/in/stjepan-motu%25C5%25A1i%25C4%2587-a53a726b">Stjepan Motušić</a></h3>
                        
                    </div>
                </div>
                <h4>CDO</h4>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to1.jpg">
                        <h3><a href="#">Dino Geček</a></h3>
                    </div>
                </div>
                <h4>Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to1.jpg">
                        <h3><a href="#">Luka Maranić</a></h3>
                    </div>
                </div>
                <h4>Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to1.jpg">
                        <h3><a href="#">Matija Marinković</a></h3>
                    </div>
                </div>
                <h4>Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to21.jpg">
                        <h3><a href="#">Ana Maros</a></h3>
                    </div>
                </div>
                <h4>Documentation</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to1.jpg">
                        <h3><a href="#">Vedran Vulje</a></h3>
                    </div>
                </div>
                <h4>Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/to1.jpg">
                        <h3><a href="#">Jan Filipec</a></h3>
                    </div>
                </div>
                <h4>Assistant</h4>
            </div>
        </div>
    </div>
</div>
<!-- end:featured -->