@{
    ViewBag.Title = "O nama";

}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/team.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Upoznajte naš tim!</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->

<div id="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Team</h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/ines.jpg">
                        <h3><a href="https://www.linkedin.com/in/ines-sinov%C4%8Di%C4%87-305455108?authType=name&authToken=6ToA&trk=mirror-profile-memberlist-photo">Ines Sinovčić</a></h3>
                        
                    </div>
                </div>
                <h4 style="text-align:center">CEO</h4>
            </div>
            
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/jure.jpg">
                        <h3><a href="https://hr.linkedin.com/in/jure-mirat-5a380a110">Jure Mirat</a></h3>
                        
                    </div>
                </div>
                <h4 style="text-align:center">CPO</h4>
            </div>
            
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/stipe.jpg">
                        <h3><a href="https://hr.linkedin.com/in/stjepan-motušić-a53a726b">Stjepan Motušić</a></h3>
                        
                    </div>
                </div>
                <h4 style="text-align:center">CDO</h4>
            </div>

            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/dino.jpg">
                        <h3><a href="#">Dino Geček</a></h3>
                    </div>
                </div>
                <h4 style="text-align:center">Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/luka.jpg">
                        <h3><a href="#">Luka Maranić</a></h3>
                    </div>
                </div>
                <h4 style="text-align:center">Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/matija.jpg">
                        <h3><a href="#">Matija Marinković</a></h3>
                    </div>
                </div>
                <h4 style="text-align:center">Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/ana.jpg">
                        <h3><a href="#">Ana Maros</a></h3>
                    </div>
                </div>
                <h4 style="text-align:center">Documentation</h4>
            </div>
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/vulje.jpg">
                        <h3><a href="#">Vedran Vulje</a></h3>
                    </div>
                </div>
                <h4 style="text-align:center">Assistant designer</h4>
            </div>
            <div class="col-md-4 col-sm-4" style="padding-left:30px;padding-right:30px">
                <div class="featured-container">
                    <div class="featured-img" style="height:400px">
                        <img src="~/Content/Tema/img/jan.jpg">
                        <h3><a href="#">Jan Filipec</a></h3>
                    </div>
                </div>
                <h4 style="text-align:center">Assistant</h4>
            </div>
        </div>
    </div>
</div>
<!-- end:featured -->