@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nedaj se Ines</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Rezerviraj računalo", "CreateRacunala", "Rezervacijas")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Rezerviraj ping pong stol", "CreateStolovi", "Rezervacijas")</h2>
    </div>
</div>