
@{
    ViewBag.Title = "Index";
    Layout = "~/_Tema.cshtml";
}
<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/tt.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Rezervacija termina za stolni tenis</p>
                    <small>Slobodno stolova: 2</small>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>

</section>
<!-- end:header -->
<!-- begin:featured -->
<div id="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Oprema</h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/tth.jpg">
                        <h3><a href="#">Stolni tenis</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/lph.png">
                        <h3><a href="#">Računala</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/pth.jpg">
                        <h3><a href="#">Printeri</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:featured -->

<!-- begin:content -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Obavijesti</h2>
                </div>
            </div>
        </div>

        <div class="row container-post">
            <!-- begin:article -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content">
                        <div class="heading-title heading-small">
                            <h2><a href="#">Obnova prostorije za stolni tenis</a></h2>
                        </div>
                        <div class="post-meta">
                            <span>By <a href="#" title="Posts by admin" rel="author">Ankica</a></span>
                            <span>On February 1, 2016</span>
                            <span>In <a href="#">Radovi</a></span>
                        </div>
                        <p>
                            Zbog obnove prostorije za stolni tenis od 9.2. do 23.2., prostorija neće biti dostupna studentima, te se stoga stolni tenis neće moći igrati u tom periodu.                           
                        </p>

                    </div>
                    <div class="post-atribut">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-heart"></i> 14</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 1</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-eye"></i> 65</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content">
                        <img src="~/Content/Tema/img/rkt.jpg" alt="danish personal blog template">
                        <div class="heading-title heading-small">
                            <h2><a href="#">Nova oprema za stolni tenis</a></h2>
                        </div>
                        <div class="post-meta">
                            <span>By <a href="#" title="Posts by admin" rel="author">Ankica</a></span>
                            <span>On January 13, 2016</span>
                            <span>In <a href="#">Oprema</a></span>
                        </div>
                        <p>Nabvljeni su novi reketi za stolni tenis.
                        Molimo vas da posvetite pažnju na pravilno rukovanje reketom te da ih čuvate kao da su vaši.</p>

                    </div>
                    <div class="post-atribut">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-heart"></i> 244</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 13</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-eye"></i> 542</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end:article -->

    </div>
</section>
<!-- end:content -->

<!-- begin:copyright -->
<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copy-left">
                <p>Copyright &copy; 2016 <strong>NeDajSeInes</strong>. All Rights Reserved.</p>
            </div>

            <div class="col-md-6 col-sm-6 copy-right">
                <ul class="list-inline social-icon">
                    <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                    <!--<li><a href="#" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end:copyright -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Content/Tema/js/jquery.js"></script>
<script src="~/Content/Tema/js/bootstrap.js"></script>
<script src="~/Content/Tema/js/masonry.pkgd.min.js"></script>
<script src="~/Content/Tema/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="~/Content/Tema/js/gmap3.min.js"></script>
<script src="~/Content/Tema/js/jquery.isotope.min.js"></script>
<script src="~/Content/Tema/js/jquery.easing.js"></script>
<script src="~/Content/Tema/js/jquery.parallax.js"></script>
<script src="~/Content/Tema/js/script.min.js"></script>
<script src="~/Content/Tema/js/demo.js"></script>
