@{
    ViewBag.Title = "Blog";

}
@*<h2>@ViewBag.Title.</h2>*@
<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/news.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Novosti</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->
<!-- begin:content -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Obavijesti</h2>
                </div>
            </div>
        </div>

        <div class="row container-post">
            <!-- begin:article -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content">
                        <div class="heading-title heading-small">
                            <h2><a href="#">Obnova prostorije za stolni tenis</a></h2>
                        </div>
                        <div class="post-meta">
                            <span>By <a href="#" title="Posts by admin" rel="author">Ankica</a></span>
                            <span>On February 1, 2016</span>
                            <span>In <a href="#">Radovi</a></span>
                        </div>
                        <p>
                            Zbog obnove prostorije za stolni tenis od 9.2. do 23.2., prostorija neće biti dostupna studentima, te se stoga stolni tenis neće moći igrati u tom periodu.
                        </p>

                    </div>
                    <div class="post-atribut">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-heart"></i> 14</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 1</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-eye"></i> 65</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content">
                        <img src="~/Content/Tema/img/rkt.jpg" alt="danish personal blog template">
                        <div class="heading-title heading-small">
                            <h2><a href="#">Nova oprema za stolni tenis</a></h2>
                        </div>
                        <div class="post-meta">
                            <span>By <a href="#" title="Posts by admin" rel="author">Ankica</a></span>
                            <span>On January 13, 2016</span>
                            <span>In <a href="#">Oprema</a></span>
                        </div>
                        <p>
                            Nabavljeni su novi reketi za stolni tenis.
                            Molimo vas da posvetite pažnju na pravilno rukovanje reketom te da ih čuvate kao da su vaši.
                        </p>

                    </div>
                    <div class="post-atribut">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-heart"></i> 244</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 13</span></a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="#"><span><i class="fa fa-eye"></i> 542</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end:article -->

    </div>
</section>
<!-- end:content -->
