@model point3ri_Alpha_0._51.Models.Rezervacija

@{
    ViewBag.Title = "Create";
}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/tth12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Rezervacija opreme</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->

<!-- begin:featured -->
<div id="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Odaberi opremu</h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/tth12.jpg">
                        <h3><a href="/Rezervacijas/CreateStolovi">Stolni tenis</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/lph.jpg">
                        <h3><a href="/Rezervacijas/CreateRacunala">Računala</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="featured-container">
                    <div class="featured-img">
                        <img src="~/Content/Tema/img/pth1.jpg">
                        <h3><a href="/Rezervacijas/CreatePrinteri">Printeri</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:featured -->
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
